@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,400;1,100&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    font-family: 'Be Vietnam', sans-serif;
}

/* header */

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 120px 100px 120px;
    align-items: center;
    flex-wrap: wrap;
}

.container-header ul li {
    display: inline-block;
    font-size: 1.6rem;
    margin: 15px;
    color: #242E52;
}

.container-header button {
    background-color: #F3603B;
    color: white;
    width: 134px;
    height: 44px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.container-header button:hover {
    opacity: 80%;
    color: white;
}

/* main parte 1 */

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 120px 100px 120px;
}

.container-main img {
    max-height: 120%;
    max-width: 120%;
}

.container-main h2 {
    font-size: 5.8rem;
    font-weight: bold;
    color: #232C50;
    max-width: 440px;
    line-height: 6rem;
}

.container-main p {
    font-size: 1.65rem;
    padding-bottom: 27px;
    padding-top: 27px;
    text-align: justify;
    max-width: 360px;
}

.container-main button {
    background-color: #F3603B;
    color: #FFFFFF;
    border-radius: 30px;
    height: 44px;
    width: 134px;
    border: none;
    cursor: pointer;
}

.container-main button:hover {
    opacity: 80%;
    color: white;
}

/* main parte 2 */

.container-different {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 120px 120px 120px;
}

.container-different h2 {
    color: #232851;
    font-size: 3.6rem;
    font-weight: bold;
    padding: 30px 0px 20px 0px;
    max-width: 430px;
    line-height: 114.6%;
}

.container-different h4 {
    color: #323851;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.container-different h2+p {
    color: #000000;
    font-size: 1.6rem;
    max-width: 375px;
}

.container-different h4+p {
    color: #B3B2B7;
    font-size: 1.6rem;
    max-width: 460px;
}

.container-different button {
    background-color: #F3603B;
    color: #FFFFFF;
    border-radius: 30px;
    height: 43px;
    width: 69px;
    border: none;
    position: relative;
    top: 4.7rem;
    right: 90px;
}

/* main parte 2 */

.testimonios section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.avatar-text { 
    background-color: #FAFAFA;
    height: 219px;
}

.avatar {
    position: relative;
    top: 65px;
}

.testimonios h2 {
    color: #242E53;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.testimonios h4 {
    color: #3F4868;
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 7rem;
}

.testimonios p {
    color: #B9B9C1;
    font-size: 1.6rem;
    padding: 10px 10px 20px 10px;
    max-width: 450px;
}

.testimonios button {
    background-color: #F3603B;
    color: white;
    width: 134px;
    height: 44px;
    border-radius: 50px;
    border: none;
    margin: 30px 0px 140px 0px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
}

.testimonios button:hover {
    opacity: 80%;
    color: white;
}

/* main parte 3 */

.form {
    background-color: #F3613C;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 120px 60px 120px;
}

.form button {
    background-color: #FFFFFF;
    color: #F3603B;
    width: 134px;
    height: 44px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: 15px;
}

.form button:hover {
    color: rgba(243, 96, 59, 0.5); 
}

.form p {
    font-size: 4rem;
    max-width: 440px;
    line-height: 4.8rem;
}

 /* footer */

.container-footer {
    background-color: #1E1E26;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 120px 60px 120px;
} 

.container-footer ul li {
    list-style: none;
    line-height: 30px;
    font-size: 1.6rem;
    cursor: pointer;
} 

footer figure i {
    padding-top: 5rem;
    margin: 0.6rem;
    cursor: pointer;
    font-size: 2rem;
}

footer i:hover {
    color: #F3603B;
}

footer div .logo {
    padding-top: 5px;
}

footer button {
    background-color: #F3603B;
    color: #FFFFFF;
    width: 63px;
    height: 42px;
    border-radius: 50px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

footer p {
    font-size: 1.2rem;
    color: #8C8C94;
    margin-top: 4rem;
    padding-left: 6.5rem;
}

.container-footer ul li:hover {
    color: #F3603B;
}

footer input {
    width: 200px;
    height: 44px;
    background-color: #FFFFFF;
    color: #A0A0A0;
    border: none;
    border-radius: 50px;
    padding: 1.5rem;
}

/* End */



